body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1692px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4380 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:50px;
  width:414px;
  height:718px;
}
#u4380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:1471px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4381 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:50px;
  width:414px;
  height:1471px;
}
#u4381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:515px;
}
#u4382 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:313px;
  width:412px;
  height:515px;
}
#u4382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:127px;
}
#u4384 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:126px;
  width:412px;
  height:127px;
}
#u4384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u4385 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:241px;
  width:20px;
  height:12px;
}
#u4385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4387 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1461px;
  width:414px;
  height:60px;
}
#u4387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u4389 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:1469px;
  width:28px;
  height:22px;
}
#u4389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4390 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:1495px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u4392 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:1469px;
  width:30px;
  height:24px;
}
#u4392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4393 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:1495px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u4395 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:1469px;
  width:34px;
  height:22px;
}
#u4395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4396 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:1493px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4398 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:1471px;
  width:22px;
  height:22px;
}
#u4398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u4399 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:1495px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u4399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u4402 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:1471px;
  width:22px;
  height:24px;
}
#u4402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4403 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:1495px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u4404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:21px;
}
#u4404 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:51px;
  width:412px;
  height:21px;
}
#u4404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:55px;
}
#u4405 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:71px;
  width:412px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:408px;
  word-wrap:break-word;
}
#u4406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4406 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:189px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4407 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:148px;
  width:30px;
  height:30px;
}
#u4407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4408 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:192px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4409 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:192px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4410 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:192px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u4411 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:215px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u4411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u4412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u4412 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:139px;
  width:45px;
  height:45px;
}
#u4412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u4413 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:215px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u4413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u4414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u4414 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:215px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u4414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u4415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u4415 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:215px;
  width:71px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u4415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u4416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4416 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:335px;
  width:127px;
  height:22px;
  font-size:16px;
}
#u4416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u4417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4417 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:148px;
  width:30px;
  height:30px;
}
#u4417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4418 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:148px;
  width:30px;
  height:30px;
}
#u4418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4425 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:708px;
  width:414px;
  height:60px;
}
#u4425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u4426 {
  border-width:0px;
  position:absolute;
  left:1302px;
  top:716px;
  width:28px;
  height:22px;
}
#u4426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4427 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:742px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u4428 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:716px;
  width:30px;
  height:24px;
}
#u4428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4429 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:742px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u4430 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:716px;
  width:34px;
  height:22px;
}
#u4430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4431 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:740px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4432 {
  border-width:0px;
  position:absolute;
  left:1558px;
  top:718px;
  width:22px;
  height:22px;
}
#u4432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u4433 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:742px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u4433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u4435 {
  border-width:0px;
  position:absolute;
  left:1636px;
  top:718px;
  width:22px;
  height:24px;
}
#u4435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4436 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:742px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u4437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:21px;
}
#u4437 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:51px;
  width:412px;
  height:21px;
}
#u4437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:55px;
}
#u4438 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:71px;
  width:412px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4439 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:88px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4440 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:88px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4441 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:88px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:88px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4443_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:111px;
  height:6px;
}
#u4443 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:122px;
  width:108px;
  height:3px;
}
#u4443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:507px;
}
#u4444 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:185px;
  width:412px;
  height:507px;
}
#u4444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4445 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:207px;
  width:127px;
  height:22px;
  font-size:16px;
}
#u4445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u4446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:578px;
}
#u4446 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:838px;
  width:412px;
  height:578px;
}
#u4446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:860px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u4448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:2px;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:892px;
  width:412px;
  height:1px;
}
#u4448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:80px;
}
#u4450 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:575px;
  width:39px;
  height:80px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4452_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:27px;
  height:5px;
}
#u4452 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:606px;
  width:24px;
  height:2px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u4452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-225deg);
  -moz-transform:rotate(-225deg);
  -ms-transform:rotate(-225deg);
  transform:rotate(-225deg);
  word-wrap:break-word;
}
#u4453_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u4453 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:622px;
  width:25px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u4453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
}
#u4454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4454 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:659px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#339999;
}
#u4454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  word-wrap:break-word;
}
#u4455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:80px;
}
#u4456 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:575px;
  width:39px;
  height:80px;
}
#u4456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4458_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:27px;
  height:5px;
}
#u4458 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:622px;
  width:24px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
}
#u4459_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u4459 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:606px;
  width:25px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
}
#u4460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4460 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:470px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  word-wrap:break-word;
}
#u4461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4461 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:586px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  word-wrap:break-word;
}
#u4462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4462 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:584px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  word-wrap:break-word;
}
#u4463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4463 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:472px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  word-wrap:break-word;
}
#u4464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4464 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:554px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:116px;
  word-wrap:break-word;
}
#u4465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.666666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4465 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:370px;
  width:381px;
  height:69px;
}
#u4465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:381px;
  word-wrap:break-word;
}
#u4466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4466 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:264px;
  width:387px;
  height:36px;
  color:#999999;
}
#u4466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u4467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:80px;
}
#u4468 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:448px;
  width:39px;
  height:80px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4470_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:27px;
  height:5px;
}
#u4470 {
  border-width:0px;
  position:absolute;
  left:1658px;
  top:479px;
  width:24px;
  height:2px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u4470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-225deg);
  -moz-transform:rotate(-225deg);
  -ms-transform:rotate(-225deg);
  transform:rotate(-225deg);
  word-wrap:break-word;
}
#u4471_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u4471 {
  border-width:0px;
  position:absolute;
  left:1657px;
  top:495px;
  width:25px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u4471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-135deg);
  -moz-transform:rotate(-135deg);
  -ms-transform:rotate(-135deg);
  transform:rotate(-135deg);
  word-wrap:break-word;
}
#u4472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4472 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:532px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#339999;
}
#u4472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  word-wrap:break-word;
}
#u4473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:80px;
}
#u4474 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:448px;
  width:39px;
  height:80px;
}
#u4474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4476_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:27px;
  height:5px;
}
#u4476 {
  border-width:0px;
  position:absolute;
  left:1284px;
  top:495px;
  width:24px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
}
#u4477_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u4477 {
  border-width:0px;
  position:absolute;
  left:1284px;
  top:479px;
  width:25px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
}
#u4478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4478 {
  border-width:0px;
  position:absolute;
  left:1361px;
  top:343px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  word-wrap:break-word;
}
#u4479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4479 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:459px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  word-wrap:break-word;
}
#u4480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4480 {
  border-width:0px;
  position:absolute;
  left:1328px;
  top:457px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  word-wrap:break-word;
}
#u4481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4481 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:345px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  word-wrap:break-word;
}
#u4482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u4482 {
  border-width:0px;
  position:absolute;
  left:1419px;
  top:427px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:116px;
  word-wrap:break-word;
}
#u4483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.666666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4483 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:246px;
  width:381px;
  height:69px;
}
#u4483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:381px;
  word-wrap:break-word;
}
#u4484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4484 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:138px;
  width:387px;
  height:36px;
  color:#999999;
}
#u4484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u4485_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:140px;
  height:6px;
}
#u4485 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:890px;
  width:137px;
  height:3px;
}
#u4485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4486 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:860px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u4487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4487 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:860px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u4488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:478px;
}
#u4488 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:902px;
  width:402px;
  height:478px;
}
#u4488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u4489 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:111px;
  width:333px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u4489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:333px;
  word-wrap:break-word;
}
#u4490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:185px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4490 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:130px;
  width:11px;
  height:185px;
}
#u4490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:1101px;
  background:inherit;
  background-color:rgba(51, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4491 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:315px;
  width:11px;
  height:1101px;
}
#u4491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u4492 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:363px;
  width:390px;
  height:165px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u4492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:390px;
  word-wrap:break-word;
}
#u4493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u4493 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:564px;
  width:390px;
  height:78px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u4493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:21px;
  width:390px;
  word-wrap:break-word;
}
#u4494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u4494 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:911px;
  width:390px;
  height:78px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u4494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:390px;
  word-wrap:break-word;
}
#u4495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4495 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:51px;
  width:11px;
  height:74px;
}
#u4495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u4496 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:118px;
  width:18px;
  height:16px;
  color:#FF6600;
}
#u4496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u4497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4497 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:179px;
  width:11px;
  height:74px;
}
#u4497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u4498 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:172px;
  width:18px;
  height:16px;
  color:#FF6600;
}
#u4498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u4499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u4499 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:241px;
  width:18px;
  height:16px;
  color:#FF6600;
}
#u4499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u4500 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:216px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u4500_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u4500_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:601px;
  height:8px;
}
#u4500_seg2 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:-91px;
  width:8px;
  height:94px;
}
#u4500_text {
  border-width:0px;
  position:absolute;
  left:291px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u4501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u4501 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:223px;
  width:472px;
  height:105px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u4501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:472px;
  word-wrap:break-word;
}
#u4502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u4502 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:61px;
  width:88px;
  height:20px;
  color:#FF6600;
}
#u4502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u4503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4503 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:51px;
  width:11px;
  height:79px;
}
#u4503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u4504 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:61px;
  width:88px;
  height:20px;
  color:#FF6600;
}
#u4504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
